html {
  box-sizing: border-box;
  font-family: "Arial"; }

header {
  text-align: center; }

a {
  text-decoration: none; }

.logo img {
  width: 370px;
  padding: 8px 0;
  margin-bottom: 90px; }
  @media only screen and (max-width: 767px) {
    .logo img {
      width: 240px;
      margin-bottom: 70px; } }
  @media only screen and (max-width: 555px) {
    .logo img {
      margin-bottom: 50px; } }

.navigationMenu {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: #6b9ad0;
  border-bottom: 4px #b8cfe9 solid;
  text-align: center;
  height: 56px; }
  @media only screen and (max-width: 767px) {
    .navigationMenu {
      top: 50px; } }
  @media only screen and (max-width: 555px) {
    .navigationMenu {
      border-bottom: 0; } }
  @media only screen and (max-width: 555px) {
    .navigationMenu {
      height: 36px; } }
  .navigationMenu ul {
    width: 100%;
    height: 100%;
    display: inline-block; }
    @media only screen and (max-width: 767px) {
      .navigationMenu ul {
        width: 438px; } }
    @media only screen and (max-width: 555px) {
      .navigationMenu ul {
        display: none; } }
  .navigationMenu li {
    display: block;
    font-size: 0;
    display: inline-block;
    height: 100%;
    position: relative; }
    .navigationMenu li:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .navigationMenu li a {
      display: inline-block;
      vertical-align: middle;
      padding: 0 25px;
      color: white;
      text-shadow: 1px 1px 1px #b8cfe9;
      font-family: "ArialNarrow";
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .navigationMenu li a {
          padding: 0 5px; } }
    .navigationMenu li.active:before {
      content: " ";
      width: 8px;
      height: 8px;
      position: absolute;
      background: #6b9ad0;
      border-bottom: #b8cfe9 4px solid;
      border-right: #b8cfe9 4px solid;
      left: -moz-calc(50% - 6px);
      left: -o-calc(50% - 6px);
      left: -webkit-calc(50% - 6px);
      left: calc(50% - 6px);
      bottom: -9px;
      transform: scale(1.5, 1) rotate(45deg);
      -webkit-transform: scale(1.5, 1) rotate(45deg); }
  .navigationMenu div {
    display: block;
    font-size: 0;
    display: none;
    width: 44px;
    float: left;
    background-color: #b8cfe9;
    height: -moz-calc(100% - 2px);
    height: -o-calc(100% - 2px);
    height: -webkit-calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px; }
    .navigationMenu div:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    @media only screen and (max-width: 555px) {
      .navigationMenu div {
        width: 36px; } }
    .navigationMenu div a {
      display: inline-block;
      color: #6b9ad0;
      vertical-align: middle;
      font-size: 25px; }
    .navigationMenu div.lookIcon {
      float: right; }
      @media only screen and (max-width: 555px) {
        .navigationMenu div.lookIcon {
          float: left; } }
    .navigationMenu div.mobileListIcon {
      float: right; }
    @media only screen and (max-width: 767px) {
      .navigationMenu div.aboutIcon, .navigationMenu div.lookIcon {
        display: block; } }
    @media only screen and (max-width: 555px) {
      .navigationMenu div.pencilIcon, .navigationMenu div.mobileListIcon {
        display: block; }
        .navigationMenu div.pencilIcon a, .navigationMenu div.mobileListIcon a {
          font-size: 0; } }
    .navigationMenu div.mobileListIcon {
      background-color: transparent; }
  .navigationMenu p {
    color: #b8cfe9;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    display: none;
    line-height: 36px; }
    @media only screen and (max-width: 555px) {
      .navigationMenu p {
        display: block; } }

.content {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  color: #69747c; }
  .content:after {
    clear: both;
    content: ".";
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden; }
  .content aside {
    width: 252px;
    float: right;
    font-size: 12px;
    margin-right: 20px; }
    @media only screen and (max-width: 984px) {
      .content aside {
        float: none;
        max-width: 640px;
        padding: 0 20px;
        margin: 0 auto 10px;
        width: 90%; }
        .content aside .sideArticle {
          display: none; } }
    @media only screen and (max-width: 555px) {
      .content aside {
        display: none; } }
    .content aside h2 {
      font-size: 18px;
      color: #6794b7;
      border-bottom: 4px #6794b7 solid; }
      .content aside h2:before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 22px;
        background-color: #6794b7;
        margin-bottom: -5px;
        margin-right: 5px;
        color: white;
        text-align: center; }
      .content aside h2.about:before {
        content: "?"; }
      .content aside h2.something:before {
        content: "!"; }
    .content aside p {
      margin-top: 10px; }
    .content aside .tags a {
      display: inline-block;
      color: white;
      background: url("./images/bull.jpg") no-repeat right 0 #6794b7;
      padding: 1px 25px 1px 5px;
      margin: 2px 1px; }
      .content aside .tags a:hover {
        background-position: right -22px;
        background-color: #b8cfe9; }
  .content .articles {
    max-width: 640px;
    width: 100%;
    margin: 0 20px;
    float: left;
    font-size: 12px; }
    @media only screen and (max-width: 984px) {
      .content .articles {
        margin: 0 auto;
        float: none;
        max-width: none; } }
    .content .articles article {
      margin-bottom: 35px;
      position: relative; }
      .content .articles article > h3, .content .articles article > div, .content .articles article > p {
        max-width: 640px;
        margin: 0 auto; }
        @media only screen and (max-width: 984px) {
          .content .articles article > h3, .content .articles article > div, .content .articles article > p {
            width: 80%; } }
        @media only screen and (max-width: 555px) {
          .content .articles article > h3, .content .articles article > div, .content .articles article > p {
            width: 90%; } }
      .content .articles article p {
        margin-top: 10px; }
      @media only screen and (max-width: 555px) {
        .content .articles article {
          margin-bottom: 55px; } }
    .content .articles img {
      width: 100%; }
    .content .articles h3 {
      padding: 10px 0; }
      .content .articles h3 a {
        color: #5d676e;
        font-size: 20px; }
      @media only screen and (max-width: 555px) {
        .content .articles h3 {
          background-color: #e3e6e7;
          text-align: center; } }
    .content .articles .articleInfo {
      border-color: #e3e6e7;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-style: solid; }
      .content .articles .articleInfo:after {
        clear: both;
        content: ".";
        display: block;
        line-height: 0;
        height: 0;
        visibility: hidden; }
      .content .articles .articleInfo div, .content .articles .articleInfo time {
        float: left;
        padding: 10px 0 10px 15px;
        font-size: 12px; }
        @media only screen and (max-width: 555px) {
          .content .articles .articleInfo div, .content .articles .articleInfo time {
            float: none;
            display: inline-block; }
            .content .articles .articleInfo div.social, .content .articles .articleInfo time.social {
              display: block; } }
      @media only screen and (max-width: 555px) {
        .content .articles .articleInfo {
          text-align: center; } }
      .content .articles .articleInfo time {
        margin-right: 12px;
        background: url("./images/time.jpg") no-repeat;
        background-position: 0 11px; }
      .content .articles .articleInfo .author {
        background: url("./images/author.jpg") no-repeat;
        background-position: 0 10px; }
      .content .articles .articleInfo .social {
        float: right;
        padding: 5px 0; }
        .content .articles .articleInfo .social a {
          background: url("./images/icons.png") no-repeat;
          display: inline-block;
          width: 20px;
          height: 19px;
          padding-left: 29px;
          text-align: center;
          padding-top: 5px;
          font-size: 12px;
          margin-left: 3px;
          color: white; }
          .content .articles .articleInfo .social a.fb {
            background-position: -1px 0px; }
            .content .articles .articleInfo .social a.fb:hover {
              background-position: -54px 0px; }
          .content .articles .articleInfo .social a.goo {
            background-position: 0px -28px; }
            .content .articles .articleInfo .social a.goo:hover {
              background-position: -53px -28px; }
          .content .articles .articleInfo .social a.twi {
            background-position: -1px -56px; }
            .content .articles .articleInfo .social a.twi:hover {
              background-position: -54px -56px; }
          .content .articles .articleInfo .social a.vk {
            background-position: -1px -84px; }
            .content .articles .articleInfo .social a.vk:hover {
              background-position: -54px -84px; }
          .content .articles .articleInfo .social a.ya {
            background-position: -4px -112px;
            padding-left: 23px; }
            .content .articles .articleInfo .social a.ya:hover {
              background-position: -57px -112px; }
        @media only screen and (max-width: 984px) {
          .content .articles .articleInfo .social {
            float: none;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 50px; }
            .content .articles .articleInfo .social a {
              float: right;
              margin-bottom: 5px; }
              .content .articles .articleInfo .social a.fb {
                background-position: -52px 0px; }
                .content .articles .articleInfo .social a.fb:hover {
                  background-position: -52px 0px; }
              .content .articles .articleInfo .social a.goo {
                background-position: -49px -28px; }
                .content .articles .articleInfo .social a.goo:hover {
                  background-position: -49px -28px; }
              .content .articles .articleInfo .social a.twi {
                background-position: -52px -56px; }
                .content .articles .articleInfo .social a.twi:hover {
                  background-position: -52px -56px; }
              .content .articles .articleInfo .social a.vk {
                background-position: -52px -84px; }
                .content .articles .articleInfo .social a.vk:hover {
                  background-position: -52px -84px; }
              .content .articles .articleInfo .social a.ya {
                background-position: -55px -112px; }
                .content .articles .articleInfo .social a.ya:hover {
                  background-position: -55px -112px; } }
        @media only screen and (max-width: 555px) {
          .content .articles .articleInfo .social {
            width: 90%;
            height: 25px;
            top: 100%;
            right: initial;
            text-align: center;
            padding-top: 10px; }
            .content .articles .articleInfo .social a {
              float: none; }
              .content .articles .articleInfo .social a.fb {
                background-position: -54px 0px; }
                .content .articles .articleInfo .social a.fb:hover {
                  background-position: -54px 0px; }
              .content .articles .articleInfo .social a.goo {
                background-position: -53px -28px; }
                .content .articles .articleInfo .social a.goo:hover {
                  background-position: -53px -28px; }
              .content .articles .articleInfo .social a.twi {
                background-position: -54px -56px; }
                .content .articles .articleInfo .social a.twi:hover {
                  background-position: -54px -56px; }
              .content .articles .articleInfo .social a.vk {
                background-position: -54px -84px; }
                .content .articles .articleInfo .social a.vk:hover {
                  background-position: -54px -84px; }
              .content .articles .articleInfo .social a.ya {
                background-position: -57px -112px;
                padding-left: 23px; }
                .content .articles .articleInfo .social a.ya:hover {
                  background-position: -57px -112px; } }

.fixedMenu {
  position: fixed;
  top: 0;
  z-index: 10; }
