<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Underscore Task</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="common.css">
</head>
<body>
<header>
    <a class="logo">
        <img src="images/logo.png">
    </a>
    <nav class="navigationMenu">
        <ul>

        </ul>
        <div class="aboutIcon">
            <a href="#">?</a>
        </div>
        <div class="lookIcon">
            <a href="#">!</a>
        </div>
        <div class="pencilIcon">
            <a href="#"><img src="images/pencil.png"></a>
        </div>
        <div class="mobileListIcon">
            <a href="#"><img src="images/mobileMenu.jpg"></a>
        </div>
        <p class="mobileNavTitle">JAVASCRIPT</p>
    </nav>
</header>
<div class="content">
    <aside>
        <div class="tags">
        </div>
    </aside>
    <div class="articles">
    </div>
</div>
<script type="text/template" id="articleTmp">
    <article>
        <div>
        <img src="images/img1.jpg">
        </div>
        <h3>
            <a href="#"><%= title %></a>
        </h3>
        <div class="articleInfo">
            <time><%
                var d = new Date(date['$date']);
                var dformat = [d.getHours(),
                d.getMinutes()].join(':')+ ' ' +
                [d.getMonth()+1,
                d.getDate(),
                d.getFullYear()].join('/');
                print(dformat); %></time>
            <div class="author"><%= author %></div>
            <div class="social">
                <a href="#" class="fb">16</a>
                <a href="#" class="goo">7</a>
                <a href="#" class="twi">15</a>
                <a href="#" class="vk">16</a>
                <a href="#" class="ya">1</a>
            </div>
        </div>
        <p><% print(body.slice(0,500) + '...') %></p>
    </article>
</script>
<script type="text/template" id="sideArticleTmp">
    <div class="sideArticle">
        <h2 class=<% print(title.toLowerCase()) %>><%= title %></h2>
        <p><%= content %></p>
    </div>
</script>
<script src="underscore.js"></script>
<script src="Script.min.js"></script>
</body>
</html>