
@import "sass/variable";
@import "sass/mixin";

html {
  box-sizing: border-box;
  font-family: "Arial";
}

header{
  text-align: center;
}

a{
  text-decoration: none;
}

.logo img {
  width: 370px;
  padding: 8px 0;
  @include lessThen(medium-screens) {
    width: 240px;
  }
}

.navigationMenu{
  background-color: $mainColor;
  border-bottom: 4px $lightMainColor solid;
  @include lessThen($maxScreenWidthForMenu) {
    border-bottom: 0;
  }
  text-align: center;
  height: 56px;
  @include lessThen($maxScreenWidthForMenu) {
    height: $smallMenuHeight;
  }

  ul {
    width:100%;
    @include lessThen(medium-screens) {
      width: 440px;
    }
    @include lessThen($maxScreenWidthForMenu) {
      display: none;
    }
    height: 100%;
    display: inline-block;
  }
  li{
    @include inline-wrapper;
    display: inline-block;
    height: 100%;
    position: relative;
    a{
      display: inline-block;
      vertical-align: middle;
      padding: 0 25px;
      @include lessThen(medium-screens) {
        padding: 0 5px;
      }
      color: white;
      text-shadow: 1px 1px 1px $lightMainColor;
      font:{
        family:"ArialNarrow";
        size: 18px;
      }
    }
    &.active{
      @include triangle;
    }
  }

  div{
    @include inline-wrapper;
    display: none;

    width: 44px;
    @include lessThen($maxScreenWidthForMenu) {
      width: $smallMenuHeight;
    }
    float: left;
    background-color: $lightMainColor;
    @include calc(height,"100% - 2px");
    margin: 1px;
    a{
      display: inline-block;
      color: $mainColor;
      vertical-align: middle;
      font-size: 25px;
    }
    &.lookIcon{
      float: right;
      @include lessThen($maxScreenWidthForMenu) {
        float: left;
      }
    }
    &.mobileListIcon{
      float: right;
    }
    &.aboutIcon,&.lookIcon{
      @include lessThen(medium-screens) {
        display: block;
      }
    }
    &.pencilIcon,&.mobileListIcon{
      @include lessThen($maxScreenWidthForMenu) {
        display: block;
        a{
        font-size: 0;
        }
      }
    }
    &.mobileListIcon{
      background-color: rgba(0,0,0,0);
    }
  }

  p{
    color: $lightMainColor;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    display: none;
    line-height: $smallMenuHeight;
    @include lessThen($maxScreenWidthForMenu) {
      display: block;
    }
  }


}