html {
  box-sizing: border-box;
  font-family: "Arial"; }

header {
  text-align: center; }

a {
  text-decoration: none; }

.logo img {
  width: 370px;
  padding: 8px 0; }
  @media only screen and (max-width: 767px) {
    .logo img {
      width: 240px; } }

.navigationMenu {
  background-color: #6b9ad0;
  border-bottom: 4px #b8cfe9 solid;
  text-align: center;
  height: 56px; }
  @media only screen and (max-width: 540px) {
    .navigationMenu {
      border-bottom: 0; } }
  @media only screen and (max-width: 540px) {
    .navigationMenu {
      height: 36px; } }
  .navigationMenu ul {
    width: 100%;
    height: 100%;
    display: inline-block; }
    @media only screen and (max-width: 767px) {
      .navigationMenu ul {
        width: 440px; } }
    @media only screen and (max-width: 540px) {
      .navigationMenu ul {
        display: none; } }
  .navigationMenu li {
    display: block;
    font-size: 0;
    display: inline-block;
    height: 100%;
    position: relative; }
    .navigationMenu li:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .navigationMenu li a {
      display: inline-block;
      vertical-align: middle;
      padding: 0 25px;
      color: white;
      text-shadow: 1px 1px 1px #b8cfe9;
      font-family: "ArialNarrow";
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .navigationMenu li a {
          padding: 0 5px; } }
    .navigationMenu li.active:before {
      content: " ";
      width: 8px;
      height: 8px;
      position: absolute;
      background: #6b9ad0;
      border-bottom: #b8cfe9 4px solid;
      border-right: #b8cfe9 4px solid;
      left: -moz-calc(50% - 6px);
      left: -o-calc(50% - 6px);
      left: -webkit-calc(50% - 6px);
      left: calc(50% - 6px);
      bottom: -9px;
      transform: scale(1.5, 1) rotate(45deg);
      -webkit-transform: scale(1.5, 1) rotate(45deg); }
  .navigationMenu div {
    display: block;
    font-size: 0;
    display: none;
    width: 44px;
    float: left;
    background-color: #b8cfe9;
    height: -moz-calc(100% - 2px);
    height: -o-calc(100% - 2px);
    height: -webkit-calc(100% - 2px);
    height: calc(100% - 2px);
    margin: 1px; }
    .navigationMenu div:after {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    @media only screen and (max-width: 540px) {
      .navigationMenu div {
        width: 36px; } }
    .navigationMenu div a {
      display: inline-block;
      color: #6b9ad0;
      vertical-align: middle;
      font-size: 25px; }
    .navigationMenu div.lookIcon {
      float: right; }
      @media only screen and (max-width: 540px) {
        .navigationMenu div.lookIcon {
          float: left; } }
    .navigationMenu div.mobileListIcon {
      float: right; }
    @media only screen and (max-width: 767px) {
      .navigationMenu div.aboutIcon, .navigationMenu div.lookIcon {
        display: block; } }
    @media only screen and (max-width: 540px) {
      .navigationMenu div.pencilIcon, .navigationMenu div.mobileListIcon {
        display: block; }
        .navigationMenu div.pencilIcon a, .navigationMenu div.mobileListIcon a {
          font-size: 0; } }
    .navigationMenu div.mobileListIcon {
      background-color: transparent; }
  .navigationMenu p {
    color: #b8cfe9;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    display: none;
    line-height: 36px; }
    @media only screen and (max-width: 540px) {
      .navigationMenu p {
        display: block; } }
