
@import "sass/variable";
@import "sass/mixin";


header{
  text-align: center;
}

.logo img {
  width: 370px;
  padding: 8px 0;
  @include lessThen(medium-screens) {
    width: 240px;
  }
  /*@include lessThen(handhelds) { width: 100% ;}
  @include lessThen(medium-screens) { width: 125px; }
  @include lessThen(wide-screens) { float: none; }*/
}

.navigationMenu{
  background-color: $mainColor;
  border-bottom: 4px $lightMainColor solid;
  text-align: center;

  ul {
    width:$basicWidth;
    @include lessThen(wide-screens) {
      width: $mediumScreen;
    }
    height: 100%;
    display: inline-block;
  }
  li{
    @include inline-wrapper;
    display: inline-block;
    height: 100%;
    position: relative;
    a{
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      padding: 0 25px;
      color: white;
      text-shadow: 1px 1px 1px $lightMainColor;
      font:{
        family:"ArialNarrow";
        size: 18px;
      }
    }
    &.active{
      @include triangle;
    }
  }
  height: 56px;
}