$smallScreen: 320px;
$mediumScreen: 768px;
$basicWidth: 984px;

$maxScreenWidthForMenu: 555px;

$smallMenuHeight: 36px;

$mainColor: #6b9ad0;
$lightMainColor: lighten($mainColor,20);
$darkMainColor: #6794b7;

$fontColor: #69747c;